* {
  font-family: "Orbitron";
}

.sidebar {
  width: 10%;
}

body {
  margin: 0%;
}

nav ul {
  list-style: none;
  float: left;
  padding: 0;
  margin: 0px;
}

li {
  margin: 50px 25px 70px 25px;
}

a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.topNav {
  width: 15%;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: auto;
  background: #000;
}

.section-home {
  text-align: center;
  padding-top: 30px;
}

.section-home h5 {
  font-size: 10px;
}

hr {
  width: 60%;
}

.section-home p {
  font-size: 8px;
  margin: 30px 100px;
}

.section-home a {
  color: white;
  background-color: black;
  padding: 7px 30px;
}

.section-aboutMe h1 {
    font-size: 20px;
    margin: 100px 50px;
    border-bottom: solid 1px #000;
}